<html>
    <head>
        <title>Katya's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Katya's Personal Blog</a></h1>
        </div>

        <div>
            <h2>Text and the City</h2>
            <p>"В любой непонятной ситуации пересматривай "Секс в большом городе" - там есть все ответы".</p>
            <p>Честно признаюсь, я пересматривала его уже раз десять, но каждый раз открываю для себя что-то новое и по-другому смотрю на некоторые ситуации. Кажется, что этот сериал, как умудренная опытом подружка (а точнее 4 подружки), подскажет выход из любой ситуации, но.. время меняется, и меняются тенденции и сами ситуации.. героини любимого сериала еще не подверглись тотальной смартфонизации, когда текстинг вытесняет простое общение.</p>
            <p>А что если бы этот самый загадочный Мистер Биг не отвечал Керри на сообщения в Вотсапе или Вайбере, хотя она бы видела, что они им прочитаны. Знакомая ситуация? Впрочем, Керри уже тогда отвергала появляющиеся мобильные телефоны.. old-fashioned, в хорошем смысле этого слова. Саманта бы наверняка слила интимные фото Смита в инста сторис ради пиара, как было с почтовой рассылкой их видео :) Миранда была бы обвешена суперсовременными гаджетами для того, чтобы все успевать как успешная бизнес-вумен и мать в одном флаконе. Ну а Шарлотта.. придумайте сами))
Думаю, каждая девушка, когда-либо смотревшая "Секс в большом городе", ассоциировала себя с одной из героинь, будь то подсознательно или распределяя роли с тремя подружками-единомышленницами. Лично мне в разные периоды жизни казалось, что я похожа то на Миранду, то на Керри, то на Саманту)) А кто Ты из "Секса в большом городе"? Только чур, отвечать честно, а не после теста в ФБ! ;)</p>
            <p>published: 24.03.2018, 12:14</p>
        </div>

        <div>
          <h2>Articles to read</h2>
            <p><a href="">https://medium.freecodecamp.org/how-to-go-from-hobbyist-to-professional-developer-11a8b8a52b5f</a></p>
            <p><a href="">http://buduguru.org/media</a></p>
        </div>
    </body>
</html>
